body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    background-color: rgb(247, 247, 247);
}


.wrapper {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: azure;
    background-color: #525CEB;
}

.box1 {
    background-color: #27566f;
}

.box2 {
    background-color: white;
}

header {

    text-align: center;
}

header h1 {
    color: #6096B4;
}

header h2 {
    color: #6096B4;
    padding: 10px;
}

header h4 {
    color: #6096B4;
    margin-top: 32px;
}

header p{
    font-size: x-small;
    margin-top: 0px;
    color: #93BFCF;
}

.image {
    justify-items: center;
}

img {
    width: 150px;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

#lblsquareSide {
    color: #6096B4;
}

#squareSide {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #93BFCF;
    padding: 10px;
}

#squareSide:focus {
    border: solid #6096B4;
}
.buttons {
    padding: 10px;
}
button{
    background-color: #93BFCF;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}

button:disabled{
    background-color: red;
}

button:hover{
    background-color: #6096B4;
}

button:active{
    background-color: #27566f;
    transform: translateY(2px);
}


#result {
    color: #27566f;
    padding-left: 5px;
    border: #6096B4;
}
